@{
    ViewData["Title"] = "Home Page";
}
@using RWG.Models

@*
    <div class="card mb-3">
        <div class="card-body bg-light">
            <h4 class="card-title">My Reminder Lists</h4>
            <div class="bg-white">

            </div>
        </div>
    </div>
*@


    <div class="text-center">
        @if (User!.Identity!.IsAuthenticated)
        {
            <h1 class="display-4">Welcome @User.Identity.Name!</h1>
        }
        else
        {
            
        }
    </div>

