@{
    ViewData["Title"] = "Home Page";
}
@using RWG.Models





<div class="text-center">
    @if (User!.Identity!.IsAuthenticated)
    {
        @*@User.Identity.Name!*@
        <h1 class="display-4">Welcome to RWG!</h1>
    }
    else
    {

    }
</div>

