<div class="card">
    <div class="card-body bg-light">
        <h4 class="card-title"> Your Saved Workouts</h4>


        <form class="row g-3 needs-validation" method="post" action="@Url.Action("Saved", "Workout")" noValidate>

            

        </form>
    </div>
</div>